.image {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

main {
  background-color: var(--background3);
}

.photo {
  width: 150px
}

.logo {
  width: 35px;
}

body {
  margin: 0;
}

#c {
  position: absolute;
  top: 0;
  width: 100%;
  height: 147vh;
  background-color: var(--background1);
  z-index: 1;
}

.portal,
h1,
.card,
main,
.content,
p,
h3,
.carousel,
.carousel-inner,
img {
  z-index: 11;
}

.awesomeCarouselContainer {
  width: 42%;
  display: inline-block;
}

header,
button {
  z-index: 100;
}

@media screen and (max-width: 750px) {
  .info {
    padding-top: 100px;
  }
}